main.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $main-gap;
  padding: $main-padding;
  box-sizing: border-box;
  width: 100%;

  figure,
  img.img-fluid {
    flex: 1;
    max-width: $main-max-width;
  }

  @media (max-width: $media-breakpoint) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $main-padding;
    gap: $main-gap;

    figure,
    img.img-fluid {
      max-width: 100%;
      width: 100%;
      flex: none;
    }

    img.img-fluid {
      order: -1;
      margin-bottom: 20px;
    }
  }
}
