// Colores
$color-black: #000000;
$color-white: #ffffff;
$color-aliceblue: aliceblue;
$color-yellow-primary: hsl(51, 96%, 41%);
$color-yellow-hover: hsl(50, 95%, 37%);
$color-yellow-active: #CCAA00;
$color-yellow-shadow: rgba(255, 215, 0, 0.5);

// Tamaños
$navbar-img-height: 80px;
$gallery-img-height: 250px;
$main-max-width: 600px;
$main-gap: 20px;
$main-padding: 20px;
$media-breakpoint: 850px;
